<link rel="stylesheet" href="~/css/Inventory.css" asp-append-version="true" />
<div class="container-fluid m-0 p-3 color-virtualStep-sale">
    <h1>En Inventario</h1>
    <div class="horizontal_bar mb-3"></div>
    <div class="container m-0 p-0 w-100">
        <form class="ms-3">
            <div class="row mb-1 align-items-center justify-content-center">
                <div class="col-3 m-0 p-0">
                    <div class="col-12 m-0 p-0 mb-3">
                        <label for="inventoryProduct" class="form-label">Nombre</label>
                        <input class="form-control" id="inventoryProduct" placeholder="Ingrese el nombre del producto">
                    </div>
                </div>
                <div class="col-3 m-0 p-0 d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary w-25 h-100 fw-bold">Buscar</button>
                </div>
                <div class="col-3 m-0 p-0 d-flex justify-content-center">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary w-25 h-100 fw-bold" data-bs-toggle="modal" data-bs-target="#modalAddInventoryProduct">Agregar</button>
                </div>
                <div class="col-3">
                    <button onclick="imprimirPagina()" class="btn btn-primary w-50 h-100 fw-bold">Reporte</button>
                </div>
            </div>
        </form>
    </div>
    <div class="horizontal_bar mb-3"></div>
    <div class="row d-flex justify-content-center align-content-center border rounded p-3">
        <table class="table table-light table-striped">
            <thead class="border-bottom">
                <tr>
                    <th scope="col">Código</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Unidad de medida</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr class="border-dark">
                    <td class="justify-content-center">1</td>
                    <td class="justify-content-center">Camisa Nike</td>
                    <td class="justify-content-center">Unitario</td>
                    <td class="justify-content-center">15000</td>
                    <td class="justify-content-center">4</td>
                    <td class="justify-content-center"><button class="border-0 bg-transparent"><img class="icon_size" src="~/img/edit.png" alt="Edit Icon"></button></td>
                    <td class="justify-content-center"><button class="border-0 bg-transparent"><img class="icon_size" src="~/img/delete.png" alt="Delete Icon"></button></td>
                </tr>
                <tr class="border-dark">
                    <td class="justify-content-center">2</td>
                    <td class="justify-content-center">Suéter Adidas</td>
                    <td class="justify-content-center">Unitario</td>
                    <td class="justify-content-center">27500</td>
                    <td class="justify-content-center">10</td>
                    <td class="justify-content-center"><button class="border-0 bg-transparent"><img class="icon_size" src="~/img/edit.png" alt="Edit Icon"></button></td>
                    <td class="justify-content-center"><button class="border-0 bg-transparent"><img class="icon_size" src="~/img/delete.png" alt="Delete Icon"></button></td>
                </tr>
                <tr class="border-dark">
                    <td class="justify-content-center">3</td>
                    <td class="justify-content-center">Tennis deportivas Reebok</td>
                    <td class="justify-content-center">Unitario</td>
                    <td class="justify-content-center">15000</td>
                    <td class="justify-content-center">1</td>
                    <td class="justify-content-center"><button class="border-0 bg-transparent"><img class="icon_size" src="~/img/edit.png" alt="Edit Icon"></button></td>
                    <td class="justify-content-center"><button class="border-0 bg-transparent"><img class="icon_size" src="~/img/delete.png" alt="Delete Icon"></button></td>
                </tr>
                <tr class="border-dark">
                    <td class="justify-content-center">4</td>
                    <td class="justify-content-center">Pantaloneta Fila</td>
                    <td class="justify-content-center">Unitario</td>
                    <td class="justify-content-center">7890</td>
                    <td class="justify-content-center">14</td>
                    <td class="justify-content-center"><button class="border-0 bg-transparent"><img class="icon_size" src="~/img/edit.png" alt="Edit Icon"></button></td>
                    <td class="justify-content-center"><button class="border-0 bg-transparent"><img class="icon_size" src="~/img/delete.png" alt="Delete Icon"></button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalAddInventoryProduct" tabindex="-1" aria-labelledby="AddInventoryProductLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="AddInventoryProductLabel">Agregar producto en inventario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="m-1 p-0">
                    <div class="row mb-1 align-items-center justify-content-center">
                        <div class="col-12 m-0 p-0 mb-3">
                            <label for="codeInventoryProduct" class="form-label">Código</label>
                            <input class="form-control" id="codeInventoryProduct" placeholder="Código del producto">
                        </div>
                        <div class="col-12 m-0 p-0 mb-3">
                            <label for="nameInventoryProduct" class="form-label">Nombre</label>
                            <input class="form-control" id="nameInventoryProduct" placeholder="Nombre del producto">
                        </div>
                        <div class="col-12 m-0 p-0 mb-3">
                            <label for="unitMeasurementInventoryProduct" class="form-label">Unidad de medida</label>
                            <input class="form-control" id="unitMeasurementInventoryProduct" placeholder="Unidad de medida del producto">
                        </div>
                        <div class="col-12 m-0 p-0 mb-3">
                            <label for="priceInventoryProduct" class="form-label">Precio</label>
                            <input class="form-control" id="priceInventoryProduct" placeholder="Precio del producto">
                        </div>
                        <div class="col-12 m-0 p-0 mb-3">
                            <label for="stockInventoryProduct" class="form-label">Cantidad</label>
                            <input class="form-control" id="stockInventoryProduct" placeholder="Cantidad del producto">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Agregar producto</button>
            </div>
        </div>
    </div>
</div>