@{
    ViewData["Title"] = "Login";
}
<div class="container bg-img col-12 center-div">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="card col-12 bg-transparent">
                <div class="card-header color-virtualStep text-white">
                    Iniciar sesión
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group bg-secondary.bg-gradient">
                            <label class="" for="username">Nombre de usuario:</label>
                            <input type="text" class="form-control" id="username" placeholder="Usuario" oninvalid="this.setCustomValidity('Ingrese nombre de usuario')" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Contraseña:</label>
                            <input type="password" class="form-control" id="password" placeholder="Contraseña" oninvalid="this.setCustomValidity('Ingrese una contraseña')" required>
                        </div>
                        <button type="submit" class="btn btn-primary mt-3">Iniciar sesión</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
