<link rel="stylesheet" href="~/css/Sale.css" asp-append-version="true" />
<div class="container">
    <div class="row">
        <div class="col">
            <h3>Lista de ventas</h3>
        </div>
        <div class="col col-2">
            <button class="form-control btn-info"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Sale">volver</a></button>
        </div>
    </div>

    <div class="row d-flex justify-content-center align-content-center color-virtualStep-sale border rounded p-3">
        <table class="table table-light table-striped">
            <thead>
                <tr>
                    <th scope="col">Cliente</th>
                    <th scope="col">Producto</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Total</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Actualizar</th>
                    <th scope="col">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="justify-content-center">cliente</td>
                    <td class="justify-content-center">Leche</td>
                    <td class="d-flex justify-content-center">3</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>